<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unsubscribed Successfully</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Unsubscribed Successfully</h1>
        <p>You have been unsubscribed from our mailing list.</p>
    </div>
    <hr>
    <div class="resubfooter" style="text-align: center;">
        <div class="resubElement">
            <div style="display:inline;">
                <span class="spn-resubscribe">
                    If you would like to re-subscribe, please
                    <a href={{resubscribe_url}}>click here</a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>
